.button{
    display:inline-block;
    vertical-align:middle;
    overflow:hidden;
    color: rgb(169, 169, 169);
/*    background-color: inherit;*/
    text-align:center;
    margin-left: 30px;
    line-height: 3rem;
    letter-spacing: 1px;
    padding-top: 0.12rem;
}

.bar{
    overflow:hidden;
    width:auto;
    border:none;
    display:block;
    width: 100%;
    background-color: white;
}

.right{float:right!important}

.bar-block .bar-item{
    width:100%;
    margin: 0;
    display:block;
    text-align:left;
    line-height: 3rem;
    float:none;
    padding-left: 25px;
}

.bar-block{
    padding-top: 0.5rem;
}

@media (min-width:601px){
    .bar-block .bar-item{padding-left: 30px;}
}

.bar-block a:not(:first-child){
    /*border-top: 1px solid #fff;*/
}

.hide{display:none!important}

.show{display:block!important}

@media (max-width:992px){
    .hide-small{display:none!important}}

@media (min-width:993px){.hide-large{display:none!important}}

.animate-top{position:relative;top:0;}


.white,.hover-white:hover{color:#000!important;background-color:#fff!important}

.right {
    float: right!important;
}

.graybutton{
    background-color: rgb(102,102,102);
    height: 35vh;
}
